:root {
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Antykwa Poltawskiego';
}

/* Will be removed later. */

.logo {
    height: 163px;
    border-radius: 12px;
}

.top-nav {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(224, 22, 22);
}


/***************************Navbar Styling******************************/
.nav-con {
    overflow: hidden;
    margin-left: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: stretch;
    justify-content: space-around;
}

.nav-con>li>div>a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: unset;
    font-size: 180%;
    margin-right: 50px;
    padding: 10px 35px 10px 35px;
    border: 3px solid white;
    border-radius: 12px;

}

.nav-con>li>div>a:hover {
    color: rgb(224, 22, 22);
    font-size: 180%;
    background-color: white;
}

.nav-con a:hover,
.nav-item:hover .pop-con {
    background-color: red;
}

.pop-nav {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

.pop-nav a {
    float: left;
    color: white;
    text-decoration: none;
}

.pop-nav a:hover {
    background-color: #eee;
    color: black;
}

.nav-item:hover .subnav-content {
    display: block;
}

.nav-item {
    overflow: hidden;
}

.pop-con {
    border: none;
    outline: none;
}

.pop-nav {
    list-style: none;
    margin-top: 100px;
    border: 3px solid white;
    border-radius: 12px;
}

/***Fallback***/
.nav-con {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(224, 22, 22);
    /*4 lines of top-nav*/

    overflow: hidden;
    margin-left: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: stretch;
    justify-content: space-around;
}

.nav-con a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: unset;
    font-size: 180%;
    margin-right: 50px;
    padding: 10px 35px 10px 35px;
    border: 3px solid white;
    border-radius: 12px;
}

.nav-item {
    float: left;
    overflow: hidden;
}

.pop-nav {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

.nav-item .pop-con {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.nav-con a:hover,
.subnav:hover .subnavbtn {
    color: rgb(224, 22, 22);
    font-size: 180%;
    background-color: white;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

/*************************Navbar Styling End****************************/